# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local .env file
.env.local

# Frontend
frontend/node_modules
frontend/.next

# Backend
backend/venv
backend/__pycache__
backend/celerybeat-schedule
*.db
*.sqlite3
.vscode 